<launch>

	<arg name="robot_pub_tf" default="false" />

	<param name="robot_description"
         command="$(find xacro)/xacro --inorder '$(find autolabor_description)/urdf/autolabor_pro1.urdf'" />

	<!-- autolabor pro 1 驱动 -->
	 <node name="autolabor_driver" pkg="autolabor_pro1_driver" type="autolabor_pro1_driver" output="screen">
      <param name="port_name" value="/dev/ttyUSB0" />
      <param name="odom_frame" value="odom" />
      <param name="base_frame" value="base_link" />

      <param name="baud_rate" value="115200" />
      <param name="control_rate" value="10" />
      <param name="sensor_rate" value="5" />

      <param name="reduction_ratio" value="1.0" />
      <param name="encoder_resolution" value="1600.0" />

      <param name="wheel_diameter" value="0.25" />
      <param name="model_param_cw" value="0.80" />
      <param name="model_param_acw" value="0.80" />
      <param name="pid_rate" value="50.0" />
      <param name="maximum_encoding" value="32.0" />
	  <!-- <remap from="odom" to="wheel_odom"/> -->
    </node>

	<!-- 雷达驱动 -->


	 <!-- ldldiar message publisher node -->


	 
	<node name="LD19" pkg="ldlidar_stl_ros" type="ldlidar_stl_ros_node" output="screen" >
		<param name="product_name" value="LDLiDAR_LD19"/>
		<param name="topic_name" value="scan"/>
		<param name="port_name" value ="/dev/ttyUSB1"/>
		<param name="frame_id" value="laser"/>
		<!-- Set laser scan directon: -->
		<!--    1. Set counterclockwise, example: <param name="laser_scan_dir" type="bool" value="true"/> -->
		<!--    2. Set clockwise,        example: <param name="laser_scan_dir" type="bool" value="false"/> -->
		<param name="laser_scan_dir" type="bool" value="true"/>
		<!-- Angle crop setting, Mask data within the set angle range -->
		<!--    1. Enable angle crop fuction: -->
		<!--       1.1. enable angle crop,  example: <param name="enable_angle_crop_func" type="bool" value="true"/> -->
		<!--       1.2. disable angle crop, example: <param name="enable_angle_crop_func" type="bool" value="false"/> -->
		<param name="enable_angle_crop_func" type="bool" value="false"/>
		<!--    2. Angle cropping interval setting, The distance and intensity data within the set angle range will be set to 0 --> 
		<!--       angle >= "angle_crop_min" and angle <= "angle_crop_max", unit is degress -->
		<param name="angle_crop_min" type="double" value="135.0"/>
		<param name="angle_crop_max" type="double" value="225.0"/>
	</node>
		<!-- ldlidar message subscriber node -->
		<!-- node name="ListenLD19" pkg="ldlidar_stl_ros" type="ldlidar_stl_ros_listen_node" output="screen">
		<param name="topic_name" value="scan"/>
		</node -->
		<!-- publisher tf transform, parents frame is base_link, child frame is base_laser -->
		<!-- args="x y z yaw pitch roll parents_frame_id child_frame_id period_in_ms" -->
	<node pkg="tf2_ros" type="static_transform_publisher" name="laser_broadcaster" args="0.32 0 0.2 -1.5708 0 0 base_link laser" />
	
	<!-- <node name="base_to_laser" pkg="tf" type="static_transform_publisher"  args="0.0 0.0 0.18 0 0.0 0.0 base_link base_laser 50"/> -->

	<!-- 键盘遥控 -->
	<node name="keyboard_control" pkg="autolabor_keyboard_control" type="keyboard_control_node">
		<param name="linear_min" value="0.3" />
		<param name="linear_max" value="0.75" />
		<param name="linear_step" value="0.2" />

		<param name="angular_min" value="0.314" />
		<param name="angular_max" value="1.57" />
		<param name="angular_step" value="0.314" />
	</node>
<!-- 
	<node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />

	<node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" /> -->
	<!-- <node name="rviz" pkg="rviz" type="rviz" args="-d $(find navigation_pkg)/rviz/base.rviz" required="true"/> -->

</launch>